<%_head%>
<%_header%>

	<main>
		<h1><%= data.title %></h1>
		<div>
			<p>コンテンツ</p>
			<p>
				<a href="competition/competition/1">competitionページ</a>
			</p>
		</div>
	</main>

<%_footer%>
