<?- include(baseDir+'/common/_head') -?>
    <p>num</p>
    <p>
      baseTempDir:<br />
      ==> <?= baseDir ?>
    </p>
    <p>
      <%= param.test_id %>
    </p>
<?- include(baseDir+'/common/_footer') -?>
