<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <? if(page.path == '/'){ ?>
      <title><?= server.name ?></title>
    <? }else{ ?>
      <title><?= page.title ?> | <?= server.name ?></title>
    <? } ?>
  </head>

  <body>
