<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title><%= data.title %></title>

  <style>
    body{font-size: 18px; color: #333;}
  </style>
</head>
