<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <? if(page.path == '/'){ ?>
      <title><?= server.name ?></title>
    <? }else{ ?>
      <title><?= page.title ?> | <?= server.name ?></title>
    <? } ?>
    <meta property="og:site_name" content="サイト名" />
    <meta property="og:title" content="ページ名" />
    <meta property="og:description" content="ページの説明" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="サイトのトップURL" />
    <meta property="og:image" content="Cardsで使用する画像のURL" />

    <meta name="twitter:card" content="summary" />

    <link rel="stylesheet" type="text/css" href="<?= lib ?>/css/style.css" />
  </head>

  <body>
