<?- include(baseDir+'/common/_head') -?>
    <p>index</p>
    <p>
      baseTempDir:<br />
      ==> <?= baseDir ?>
    </p>
    <p>
      Welcome to private area - <%= param.user %>!
    </p>
<?- include(baseDir+'/common/_footer') -?>
