<?- include(baseDir+'/common/_head') -?>

<?- include(baseDir+'/common/_header') -?>
<main class="page__<?= page.id ?>">
  <div class="container">
    <a href="#">
      <p class="big-link">活動紹介</p>
    </a>
    <img class="top-photo" title="<?= server.name ?>" alt="トップ画像" src="https://placehold.jp/700x550.png" />
  </div>
</main>
<?- include(baseDir+'/common/_footer') -?>

<?- include(baseDir+'/common/_foot') -?>
