<?- include(baseDir+'/common/_head') -?>

<?- include(baseDir+'/common/_header') -?>
<main class="page__<?= page.id ?>">
  <div class="container">
    <?- include(baseDir+'/common/_nav') _?>
    
    <a href="#" class="big-link">
      <p>活動紹介</p>
    </a>
    <img class="top-photo" title="<?= server.name ?>" alt="トップ画像" src="<?= lib ?>/img/top_photo.jpg" />
  </div>
</main>
<?- include(baseDir+'/common/_footer') -?>

<?- include(baseDir+'/common/_foot') -?>
