<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<title>competition</title>

	<style>
		body{font-size: 18px; color: #333;}
	</style>
</head>
<body>
	<header>
		<h1>competition</h1>
	</header>

	<main>
		<div>
			<p>competition</p>
			<p><%= com_id %></p>
		</div>
	</main>

	<footer>
		<p>降ったー</p>
	</footer>
</body>
</html>
